#ul1{
    width:1100px;
    margin:0 auto;
    height:50px;
    line-height:30px;
    list-style:none;
    background:sienna;
}
#ul1 li{
    width:240px;
    height: 50px;
    text-align:center;
}
#ul1 li a{
    text-decoration:none;
    padding-top: 10px;
    display:block;
    font-size: 20px;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

#ul1 li a:hover{
    background:sienna;
}

#ul1 li div{
    display:none;
    background:black;
    opacity: 0.8;
    width: 314px;
    position: absolute;
    top:100%;
    left: 0%;
}
#div1{
    position: absolute;
    top:30%;
    left: 10%;
}

#div2{
    position: absolute;
    top: 30%;
    left: 33%;
    background: white;
    width: 868px;
    height: 48px;
}

#ul2{
    list-style:none;
}
#ul2 li{
    float: left;
    padding-left: 20px;
}
#ul2 li a{
    text-decoration:none;
    display:block;
    font-size: 20px;
    color: black;
    font-family: 'Varela Round', sans-serif;
    padding-left: 50px;
}
#ul2 li a:hover{
    color: palevioletred;
}

#div3{
    width:100%;
    height: 41px;
    background: white;
    opacity: 0.7;
}

#div3 ul li {
    float:right; /* 往左浮动 */
    list-style: none;
}
#div3 ul li a{
    display:block; /* 将链接设为块级元素 */
    padding:10px 50px; /* 设置内边距 */
    color:black; /* 设置文字颜色 */
    text-decoration:none; /* 去掉下划线 */
}
#div3 li a:hover {
    background:skyblue; /* 变换背景色 */
    color:black; /* 变换文字颜色 */
}
