.background{
    width:1350px;
    height:680px;
    background-image:url("/image/Frank/1.jpg");
    background-size:100%,100%;
    margin:0px;
    padding:0px;
}
ul li a{
    font-size:25px;
}
ul{
    display:inline-block;
    list-style: none;
    margin:0px auto 0px auto;
    padding:0;
}
.nav>li {
    float: left;
}
ul a{

    display: block;
    text-decoration: none;
    width: 266px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: #2f3e45;
}
.nav>li:first-child a{
    border-radius: 10px 0 0 10px;
}
.nav>li:last-child a{
    border-radius: 0 10px 10px 0;
}
.drop-down{
    height: 50px;
}
ul li a:hover{
    width:266px;
    height:50px;
    line-height:50px;
    text-align: center;
    background:#46b8da;
}
.drop-down-content{
    padding: 0;
    opacity: 0.3;
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
}
.drop-down-content li:hover a{
    background-color:#46b8da;
}
.nav .drop-down:hover .drop-down-content{
    opacity: 1;
    height: 150px;
}


.search{
    width: 380px;
    margin: 30px auto;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}
input{
    width: 260px;
    border: 1px solid #e2e2e2;
    height: 30px;
    float: left;
    background-image: url('/image/Frank/glass.jpg');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    padding:0 0 0 40px;
}
#search{
    width: 78px;
    height: 30px;
    float: right;
    background: black;
    color: white;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}
.nav ul li{
    background: none;
}
.dropdown_button {
    height: 50px;
    border: 0px;
    background: none;
    overflow: hidden;
    transition: all 1s ease;
    background-color: #2f3e45;
    text-align:center;
    font-size:25px;
    color:white;
}
.dropdown_button:hover{
    padding: 0;
    opacity: 0.3;
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
    background-color:#46b8da;
}
.nav .drop-down:hover .dropdown_button{
    opacity: 1;
    height: 50px;
}