<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:jtds:sqlserver://139.199.27.20:1433</property>
        <property name="connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
        <property name="connection.username">david</property>
        <property name="connection.password">xiaoguai520.</property>
        <property name="show_sql">true</property>
        <mapping resource="beans/City.hbm.xml"/>
        <mapping class="beans.City"/>
        <mapping resource="beans/Food.hbm.xml"/>
        <mapping class="beans.Food"/>
        <mapping resource="beans/Hotel.hbm.xml"/>
        <mapping class="beans.Hotel"/>
        <mapping resource="beans/Manager.hbm.xml"/>
        <mapping class="beans.Manager"/>
        <mapping resource="beans/Note.hbm.xml"/>
        <mapping class="beans.Note"/>
        <mapping class="beans.Remark"/>
        <mapping resource="beans/Remark.hbm.xml"/>
        <mapping resource="beans/Resort.hbm.xml"/>
        <mapping class="beans.Resort"/>
        <mapping class="beans.User"/>
        <mapping resource="beans/User.hbm.xml"/>
        <mapping class="beans.Users"/>
        <mapping resource="beans/Users.hbm.xml"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>